.wrapper {
  background: #007AFF;

}

.array-list {
  display: flex;
  height: 200px;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  list-style: none;
  padding: 0;
}

.array-item {
  height: 100%;
  margin: 0 2px;
  width: 20px;
  background: #4cd964;
}

.range {
  background: #ff3b30;
}

.pivot {
  background: #ffcc00;
}

.array-item:hover,
.swap {
  background: #ff9500;
}